@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* Hide scrollbar for all browsers */
html {
  overflow-y: scroll; /* Prevent vertical scrollbar */
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* For Firefox */
html {
  scrollbar-width: none; /* Hide scrollbar */
}

/*    */

/*  */
/* 
/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */ */

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* "auto" | "thin" | "none" */
}
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

section#wrapper, section#wrapper * {
  transform-origin: top left;
  box-sizing: border-box;
}



/**/

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-x-180 {
    transform: rotateX(180deg);
  }